.responsive {
   max-width:75%;
   height: auto;
}

img{
   padding:15px;

}

.card mb-4{
   background-color: orange;
}
.displayBox{
   width: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif
}

.scroll-box{
   overflow-y: auto;
   height: 500px;
   float: left;
   padding: 1rem;
}