@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
   font-size: 16px; 
}
body {
   background: linear-gradient(45DEG, #EEEEEE,#FAF8F9,#FFFFFF);
}

.responsive {
   max-width: 75%;
   height: auto;
}

img {
   padding: 1rem;
}

.displayBox{
   width: 100%;
}

.scroll-box{
   overflow-y: auto;
   height: 31rem;
   float: left;
   padding: 1rem;
}

h2, h5, #keyword, #buttonFont {
   font-family: "Poppins", sans-serif;
}

#footercolor {
   background-color: #b0b4a1;
}

#searchstat{
   background-color: #b0b4a1;
}

.headercolor{
   background-color:#DDE2CA;
   color: #2B353E;
   padding: .8rem 0 .8rem 1rem;
}

button {
   background-color:#748E9F;
   color:white;
}
